extends layout

block content
  if (!user)
    
    div.welcome
        h2.title Greg Carney LLC 
        h2.title 612 240-6996
        span.onboard-msg Please <a href="/login">Login</a> or <a href="/register">Register</a> to Learn More
  if (user)
    header
        .about-us#about
            h2.title Greg Carney LLC
            .our-blurb Our company is a Manufacturers' Representative for Industrial Duty Fans and Make-Up Air Units, Louvers and Dampers, Fluid Mixers, Heat Exchangers and New Cooling Towers as well as Cooling Tower Repairs. We proudly serve Minnesota, South Dakota, North Dakota, Iowa and Nebraska for most of our product lines.
    nav
        .links-container
            span.nav-button#about-us About Us
            span.nav-button#clients(onClick="location.href = '#slider';") Our Clients
            a.email-button(href="mailto:gcarney44@gmail.com") Contact
    main
    .slider.clients#slider
        .slide
            article.space-around
                .client-logo(style="background-image: url('/images/awv-logo.png')")
                .client-blurb <a href="http://www.awv.com">American Warming & Ventilation</a> manufactures industrial duty dampers and louvers. They are a very diverse company and supply damper products for air pollution control and emissions control, waste water, heating and cooling recovery and for cooling towers as well. Their dampers can withstand up to 2200 F and offer isolation with less than 1% leakage.
        .slide
            article.space-around
                .client-logo.short(style="background-image: url('/images/ATSlogo1.png')")
                .client-blurb <a href="www.amertechtower.com">Amertech Tower Services</a> strives to be the preeminent cooling tower solutions provider in the cooling tower industry offering new cooling towers, repairs, spare parts and after market services. They offer both wood and fiberglass new towers and have a field crew available for existing cooling tower inspections and repairs as well as rental units.
        .slide
            article
                .client-logo.short(style="background-image: url('/images/americancraftmfg.jpg')")
                .client-blurb  <a href="http://www.americraftmfg.com">Americraft Fans</a> celebrated their 70th Year in business last year and today's catalog includes fifteen various fan models including duct axial fans, wall/panel fans, roof ventilators, blowers and utility fans/man coolers. Nearly one half of their shipments are specially built to their customer's specifications, and Americraft Fans and Ventilation Systems operate in hundreds of different applications in all fifty states and world wide. 
        .slide
            article.space-around
                .client-logo.short#hed(style="background-image: url('/images/heat-exchange-design.gif')")
                .client-blurb <a href="http://www.hed-inc.com">Heat Exchanger Design</a>, world wide leaders in heat transfer technology, strives to offer the most innovative and economical heat transfer solutions while adhering to the highest standards for quality in the industry. They manufacture more types than any of their competitors including Hairpin (double pipe and multi-tube), Shell and Tube (bare and finned tube), Fuel Oil Line and Suction Heaters, Chillers, Condensers, Tank Heaters and Economizers.
        .slide
            article
                .client-logo.short(style="background-image: url('/images/industrialairtech.png')")
                .client-blurb <a href="http://www.inairtech.com">Industrial Air Technology</a> services the industrial fan market place with a complete line of centrifugal industrial fans and blowers. They understand the rigorous requirements particular to air movement applications and the fans are designed and built for users who value craftsmanship and reliable performance. They also do fan repairs as well as replacement wheels for any brand of fan.

        .slide
            article
                .client-logo(style="background-image: url('/images/lotus-mixers.jpeg')")
                .client-blurb <a href="www.chemmixers.com">LOTUS Mixers</a> has become the technology leader in the mixer marketplace and offers one of the broadest mixer lines in the industry. They offer a superior "Plug and Play" mixer retrofit program for Ethanol Industry and can offer replacement drives and spare parts for emergency situations as well. They recently completed a major Super Fund job to help clean up water with 20 foot impeller diameters on an 8 foot shaft.

        .slide
            article
                .client-logo(style="background-image: url('/images/weatherrite.png')")
                .client-blurb <a href="http://www.weather-rite.com">Weather-Rite</a> is best known for high quality, industrial grade, premium featured commercial and industrial HVAC Systems, including Make-Up Air, Custom Air Handlers, large air volume heating and cooling air turnover units. Their new XT-Series is targeted at the commercial grade, price competitive, direct-fired unit market place.
    p.foot You are currently logged in as #{user.username}
