@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
  color: rgba(255,255,255,.75);
  background-color: lightsteelblue;
  font-family: 'PT Sans';
}


header {
    width: auto;
    height: 91vh;
    min-height: 695px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/bluesky.jpg');
}

.header-title {
    width: 100vw;
    height: 78%;
}

.links-container {
    width: 50%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    align-items: center;
}

.links-container > span {
    cursor: pointer;
}
nav {
    width: 100vw;
    height: 150px;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .5) 50%, rgba(255,255,255,.75) 75%, transparent 100%);
    transform: translateY(-90px);
    color: cornflowerblue;
    font-weight: 700;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

nav a.email-button, nav a.email-button:focus {
    color: cornflowerblue;
    font-weight: 700;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
    text-decoration: none;
}

h1, body {
    color: white;
}

.slider {
    width: 65%;
    margin: auto;
    opacity: 1;
    display: block;
    transition: opacity .5s ease-in;
}

.slide:last-of-type {
    margin-bottom: 50px;
}

.inactive {
    opacity: 0;
}

.about-us > article {
    flex-direction: column;
}
.our-blurb {
    align-self: center;
    font-size: 1.9rem;
    color: rgba(255,255,255,.9);
    text-shadow: 0px 1px 4px rgb(0, 19, 124);
    transition: all .4s;
}

.about-us {
  width: 36vw;
  padding: 10% 5%;
  color: white
}

h2.title {
    margin: 50px auto 25px auto;
    font-size: 52px;
    font-weight: 700;
    color: cornflowerblue;
    text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0;
}

h2.title.bottom-line {
    margin: 25px auto 50px auto;
}

article {
    background-color: rgba(255,255,255,.85);
    padding: 15% 5% 15% 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.client-logo {
    width: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vh;
    align-self: center;
}

.client-blurb {
    align-self: center;
    width: 45%;
    font-size: 1.8rem;
    color: midnightblue;
    text-align: justify;
}

.client-logo.short {
    height: 20vh;
}

#hed {
    height: 20vh;
}

.slide {
    height: 100%;
    margin-bottom: 5px;
}

.container {
    padding: 10% 15px;
}
input {
    font-size: 2rem;
}

form, h1, p, h4{
    margin: auto;
}

h1, p, h4 {
    width: 450px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}
form {
  max-width: 450px;
}
form > div {
  position: relative;
  background: white;
  border-bottom: 1px solid #ccc;
}
form > div > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
}
form > div > input[type="email"],
form > div > input[type="text"],
form > div > input[type="password"] {
  background: #eee;
  height: 53px;
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
}
form > div > input[type="email"]:focus,
form > div > input[type="text"]:focus,
form > div > input[type="password"]:focus {
  outline: 0;
  background: white;
}
form > div > input[type="email"]:focus + label,
form > div > input[type="text"]:focus + label,
form > div > input[type="password"]:focus + label {
  opacity: 0;
}
form > div > input[type="email"]:valid,
form > div > input[type="text"]:valid,
form > div > input[type="password"]:valid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
form > div > input[type="email"]:valid + label,
form > div > input[type="text"]:valid + label,
form > div > input[type="password"]:valid + label {
  opacity: 0;
}
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
}
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 0;
}
form > div > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
form > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 10px 30px 20px 30px;
}
form > div .requirements {
  padding: 0 30px 0 30px;
  color: #999;
  max-height: 0;
  -webkit-transition: 0.28s;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-style: italic;
}
form input[type="submit"],
button {
  display: block;
  width: 100%;
  border: 0;
  padding: 20px;
  font-size: 1.75rem;
  transition: .75s all .2s;
}

form input[type="submit"] {
    margin: 20px 0 0 0;
    background: #2196F3;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
}

form input[type="submit"]:hover {
    background: #037cdd;
}

button {
    color: #2196F3;
    background: rgba(255, 255, 255, 1);
    font-weight: 700;
    letter-spacing: 2px;
}

button:hover {
    color: #2196F3;
    background: rgba(255, 255, 255, 0.8);
}

.foot {
    padding-top: 50px;
    padding-bottom: 20px;
}

.welcome {
    margin: auto;
    max-width: 400px;
    min-width: 20vw;
    transform: translateY(25vh);
}

.onboard-msg {
    font-size: 2.25rem;
    text-align: center;
}

* {
  box-sizing: border-box;
}

@media(max-width: 500px) {
    .client-logo {
        width: 50vw;
        background-repeat: no-repeat;
        background-size: contain;
        height: 20vh;
        align-self: center;
    }

    .client-blurb {
        align-self: center;
        width: 98%;
        font-size: 1.3rem;
        color: midnightblue;
        text-align: justify;
    }

    .about-us {
        width: 100vw;
        padding: 15% 5%;
        color: white;
    }

    #about-us {
        display: none;
    }

    .slider {
        width: 80%;
        height: 80vh;
    }

    article {
        padding-top: 50px;
        flex-direction: column;
    }

    .foot {
        display: none;
    }
}

@media(min-width: 500px) {
    .about-us {
        min-width: 450px;
    }
}
